{"name":"v0.50.9","time":"0001-01-01T00:00:00Z","height":55384278,"info":"Upgrade Oraichain to v0.50.9. Please refer to the CHANGELOG: https://github.com/oraichain/wasmd/releases/tag/v0.50.9 for more details about the upgrade"}
